:root {
  --primary-color: #409eff;
  --success-color: #67c23a;
  --info-color: #e4e7ed;
  --warning-color: #e6a23c;
  --danger-color: #f56c6c;
  --disabled-color: #c0c4cc;
  --primary-bg-color: #3a8ee6;
  --success-bg-color: #5daf34;
  --info-bg-color: #82848a;
  --warning-bg-color: #cf9236;
  --danger-bg-color: #dc6161;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 8px 15px;
  border: 1px solid var(--info-bg-color);
  border-radius: 5px;
  outline: none;
}

.lg {
  padding: 10px 15px;
}

.sm {
  padding: 6px 15px;
}

.xs {
  padding: 5px 15px;
}

.input::placeholder {
  color: var(--info-bg-color);
}

.input:focus {
  border-color: var(--primary-color);
}

.input:disabled {
  background: var(--disabled-color);
}

.input-warning {
  border-color: var(--danger-color);
}

.input-warning:focus {
  border-color: var(--danger-color);
}

.input-icon-close {
  background: url("../icons/circle-close.svg") no-repeat right;
  background-size: 16px;
}

.input-icon-ten {
  background: url("../icons/10.svg") no-repeat right;
  background-size: 25px;
}
